.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch; 
    margin-top: 100px;
}

#table{
    background: #eee;
    padding: 1em;
    grid-column: 2/12

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: 4px solid black;
    align-items: center;
}

img {
    height: 250px;
    width: 250;
}
